html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.onepageWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1s ease;
    -o-transition: -o-transform 1s ease;
    -moz-transition: -moz-transform 1s ease;
    -webkit-transition: -webkit-transform 1s ease;
}
.onepageWrapper .singleSection {
    position: relative;
    height: 100%;
    width: 100%;
}