html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.onepageWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 1s ease;
}
.onepageWrapper .singleSection {
    position: relative;
    height: 100%;
    width: 100%;
}